/* HEADER */

.main-head {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 1rem;
}
