.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --primary-color-1: hsl(180, 66%, 49%);
  --primary-color-2: hsl(257, 27%, 26%);
  --secondary-color: hsl(0, 87%, 67%);
  --neutral-1: hsl(240, 27%, 96%);
  --neutral-2: hsl(257, 7%, 63%);
  --neutral-3: hsl(255, 11%, 22%);
  --neutral-4: hsl(260, 8%, 14%);
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 30px;
  color: var(--neutral-4);
}

h2 {
  font-size: 60px;
  color: var(--neutral-4);
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--neutral-2);
}

p {
  color: var(--neutral-2);
  font-weight: 500;
}

a,
button {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: var(--neutral-2);
  border: none;
  cursor: pointer;
}

a:hover {
  color: var(--neutral-4);
}

.button-small {
  padding: 10px 22px;
  background: var(--primary-color-1);
  border-radius: 30px;
  color: white;
}

.button-small:hover {
  background: hsl(180, 75%, 73%);
  color: white;
}
