.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --primary-color-1: hsl(180, 66%, 49%);
  --primary-color-2: hsl(257, 27%, 26%);
  --secondary-color: hsl(0, 87%, 67%);
  --neutral-1: hsl(240, 27%, 96%);
  --neutral-2: hsl(257, 7%, 63%);
  --neutral-3: hsl(255, 11%, 22%);
  --neutral-4: hsl(260, 8%, 14%);
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 30px;
  color: var(--neutral-4);
}

h2 {
  font-size: 60px;
  color: var(--neutral-4);
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--neutral-2);
}

p {
  color: var(--neutral-2);
  font-weight: 500;
}

a,
button {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: var(--neutral-2);
  border: none;
  cursor: pointer;
}

a:hover {
  color: var(--neutral-4);
}

.button-small {
  padding: 10px 22px;
  background: var(--primary-color-1);
  border-radius: 30px;
  color: white;
}

.button-small:hover {
  background: hsl(180, 75%, 73%);
  color: white;
}

/* HEADER */

.main-head {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 1rem;
}

/* HERO */
.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

.hero-wrapper {
  width: 90%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero-text {
  flex: 1 1 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-text h2 {
  line-height: 1.1;
}

.hero-text h3 {
  padding: 10px 0 30px;
}

.hero-text button {
  font-size: 18px;
  padding: 15px 30px;
}

.hero-image {
  flex: 1 1 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-working {
  width: 100%;
  transform: translateX(5%);
}

/* ADVANCE */

.advance {
  min-height: 100vh;
  background-color: var(--neutral-1);
  padding-bottom: 8rem;
}

.advance-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advance-text {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  text-align: center;
  margin: 15rem 0 8rem 0;
}

.advance-text h1 {
  padding: 15px 0;
}

.advance-box {
  display: flex;
  height: 50vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card {
  position: relative;
  width: 31%;
  padding: 4.5rem 2rem 2rem 2rem;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.card-image {
  position: absolute;
  top: 0;
  left: 15%;
  transform: translateY(-50%);
  background-color: var(--primary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card h3 {
  color: var(--neutral-4);
  padding-bottom: 1rem;
  font-weight: 700;
}

.brand {
  align-self: flex-start;
}

.brand::before {
  content: "";
  background-color: var(--primary-color-1);
  width: 40vw;
  height: 10px;
  top: 50%;
  right: 0;
  transform: translateX(100%) translateY(50%);
  position: absolute;
}

/* .detailed::before {
  content: "";
  background-color: var(--primary-color-1);
  width: 50%;
  height: 10px;
  top: 20%;
  right: 0;
  transform: translateX(100%);
  position: absolute;
} */

.fully {
  align-self: flex-end;
}

/* BOOST */

.boost {
  min-height: 35vh;
  background-color: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.boost-wrapper {
  text-align: center;
}

.boost-wrapper h1 {
  color: white;
  padding-bottom: 2rem;
}

.boost-wrapper button {
  font-size: 20px;
  padding: 15px 30px;
}

.boost-image {
  position: absolute;
  z-index: -1;
}

/* FOOTER */
.footer {
  background-color: var(--neutral-4);
  min-height: 40vh;
  padding: 3rem 0;
}

.footer-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
}

.logo {
  flex: 4;
  display: flex;
}

.logo h1 {
  color: white;
}

.features {
  flex: 2;
}

.resources {
  flex: 2;
}

.company {
  flex: 2;
}

.contact {
  flex: 2;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.features h1,
.resources h1,
.company h1 {
  color: white;
  font-size: 16px;
  padding-bottom: 1rem;
}

.footer-links {
  list-style: none;
}

.footer-links a {
  font-size: 14px;
  font-weight: 500;
}

.footer-links a:hover {
  color: var(--primary-color-1);
}
