/* HERO */
.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
}

.hero-wrapper {
  width: 90%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero-text {
  flex: 1 1 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-text h2 {
  line-height: 1.1;
}

.hero-text h3 {
  padding: 10px 0 30px;
}

.hero-text button {
  font-size: 18px;
  padding: 15px 30px;
}

.hero-image {
  flex: 1 1 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
}

.hero-working {
  width: 120%;
  transform: translateX(10%);
}

@media screen and (max-width: 800px) {
  .hero {
    padding-bottom: 10rem;
  }

  .hero-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .hero-text {
    order: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
  }

  .hero-image {
    order: 1;
    margin-bottom: 2rem;
  }

  .hero-text h2 {
    font-size: 48px;
  }
}
